<%include partials/header%>

<link rel="stylesheet" href="/stylesheets/botForm.css">
<link rel="stylesheet" href="/stylesheets/style.css">

<h1>Edit</h1>

<%for (chatText in chat.talk){%>

<!-- BOT text Loop -->
<h5>Bot</h5>
    <div class="container">
            <%if(typeof chat.talk[chatText] === 'string'){%>
                <p><%=chat.talk[chatText]%></p>
            <%} else {%>
                <%for (paragraph in chat.talk[chatText]){%>
                    <p><%=chat.talk[chatText][paragraph]%></p> <br>
                <%}%>
            <%}%>
    </div>
    


        <!-- Buttons Loop -->
        <!-- Loop through each button -->
        <%if(typeof chat.student.decision[chatText] === 'string'){%>
            <button><%=chat.student.decision[chatText]%></button>
        <%} else {%>
            <%for (var decision = 0; decision < chat.student.decision[chatText].length; decision++ ){%>
                <button><%=chat.student.decision[chatText][decision]%></button>
            <%}%>
        <%}%>
        
            <!-- Loop through each answer -->
        <%if(typeof chat.student.answer[chatText] === 'string'){%>
            <p><%=chat.student.answer[chatText]%></p>
        <%} else {%>
            <%for (var response = 0; response < chat.student.answer.length; response++){%>
                <p><%=chat.student.answer[chatText][response]%></p>
            <%}%>
        <%}%>
    
    

    

<%}%> <!-- End of chatText -->


<%include partials/footer%>