<%include partials/header%>

<link rel="stylesheet" href="/stylesheets/botForm.css">
<link rel="stylesheet" href="/stylesheets/style.css">

<h1>Edit</h1>

<%for (chatText in chat.talk){%>

<!-- BOT text Loop -->
<h5>Bot</h5>
    <div class="container">
            <%if(typeof chat.talk[chatText] === 'string'){%>
                <p><%=chat.talk[chatText]%></p>
            <%} else {%>
                <%for (paragraph in chat.talk[chatText]){%>
                    <p><%=chat.talk[chatText][paragraph]%></p> 
                <%}%>
            <%}%>
    </div>
    

    <%for (var studentResponse = 0; studentResponse < 1; studentResponse++){%>
        <!-- Buttons Loop -->
            <div class="container">
                
                    <%if(typeof chat.student.decision[chatText] === 'string'){%>
                        <!-- If it's a string, return the single value -->
                        <button><%=chat.student.decision[chatText]%></button>
                    <%} else {%>
                        <%for(decision in chat.student.decision[chatText]){%>
                            <!-- If it's an object, loop through every value -->
                            <button><%=chat.student.decision[chatText][decision]%></button> <br>
                        <%}%>
                    <%}%>
                
        
                <!-- Answers Loop -->
                <h5>Answers</h5>
                <div class="container">
                        <%if (typeof chat.student.answer[chatText] === 'string'){%>
                            <p><%=chat.student.answer[chatText]%></p>
                        <%} else {%>
                            <%for(answer in chat.student.answer[chatText]){%>
                                <p><%=chat.student.answer[chatText][studentResponse][answer]%></p> <br>
                            <%}%>
                        <%}%>
                </div>
        
            </div>
    <%}%>
    

    

<%}%> <!-- End of chatText -->


<%include partials/footer%>