<%include partials/header%>


<link rel="stylesheet" href="/stylesheets/edit.css">



<form action="/index/chat/<%=chat._id%>/edit?_method=PUT" method="POST">

    <%for (chatText in chat.talk){%>
<!-- BOT text Loop -->
      <h5>Bot</h5>
      <div class="container">
        <%if(typeof chat.talk[chatText] === 'string'){%>
            <input type="text" value="<%=chat.talk[chatText]%>" name="bot[talk][<%=chatText%>]">
        <%} else {%>
            <%for (paragraph in chat.talk[chatText]){%>
                <input type="text" value="<%=chat.talk[chatText][paragraph]%>" name="bot[talk][<%=chatText%>]">
                 <br>
            <%}%>
        <%}%>
      </div>
    
<!-- Buttons Loop -->
      <!-- Loop through each button -->
      <div class="container">
        <!-- If button is a string, it's just one -->
        <%if(typeof chat.student.decision[chatText] === 'string'){%>
            
            <br>
            <h5>Button</h5>
            <input type="text" value="<%=chat.student.decision[chatText]%>" name="bot[student][decision][<%=chatText%>]">
            <br>
            
            <!-- Loop through each answer -->
            <!-- If answer is a string, it's just one -->            
            <%if(typeof chat.student.answer[chatText] === 'string'){%>
                <input type="text" value="<%=chat.student.answer[chatText]%>" name="bot[student][answer][<%=chatText%>]">
                <h1>This is a string</h1>
            <%} else {%>
                <!-- If answer is an object, print all of them -->
                <%for (var response = 0; response < chat.student.answer[chatText].length; response++){%>
                    <%for(var sentence = 0; sentence < chat.student.answer[chatText][response].length; sentence++){%>
                        <input type="text" value="<%=chat.student.answer[chatText][response][sentence]%>" name="bot[student][answer][<%=chatText%>][<%=response%>]" >
                    <%}%>
    
    
                <%}%>
            <%}%>
        <%} %>
    
        <!-- If button is an object, it's more than one -->
        <% if(typeof chat.student.decision[chatText] === 'object') {%>
            <h1>object!</h1>
            <%for (var choice = 0; choice < chat.student.decision[chatText].length; choice++ ){%>
                <h5>Button</h5>
                <input type="text" value="<%=chat.student.decision[chatText][choice]%>" name="bot[student][decision][<%=chatText%>]">
                <%if(typeof chat.student.answer[chatText] === 'string'){%>
                    <input type="text" value="<%=chat.student.answer[chatText]%>" >
                <%} else {%>
                    <%for (var response = 0; response < chat.student.answer[chatText].length; response++){%>
                        <h5>Answer</h5>
                        <input type="text" value="<%=chat.student.answer[chatText][choice][response]%>" name="bot[student][answer][<%=chatText%>][<%=response%>]">
                        <br>
                    <%}%>
                    
                <%}%>
            <%}%>
        <%}%>           
      </div>
    <%}%> <!-- End of chatText -->

    <button type="submit">Submit</button>
</form>


<%include partials/footer%>