<%include partials/header%>


<link rel="stylesheet" href="/stylesheets/botForm.css">
<script src="/javascripts/botEdit.js"></script>

<h1>Edit</h1>
<script></script>

<form action="/index/chat/<%=chat._id%>/edit?_method=PUT" method="POST">

    <%for (chatText in chat.talk){%>
<!-- BOT text Loop -->
      <div class="botForm">
      <button class="btn btn-danger" onclick="removeParent(this)">X</button>
      <div class="botTalks">
        <%if(typeof chat.talk[chatText] === 'string'){%>
            <input class="form-control" type="text" value="<%=chat.talk[chatText]%>" name="bot[talk][<%=chatText%>]">

        <%} else {%>
            <%for (paragraph in chat.talk[chatText]){%>
                <input class="form-control" type="text" value="<%=chat.talk[chatText][paragraph]%>" name="bot[talk][<%=chatText%>]">

            <%}%>
        <%}%>
        <button class="btn btn-primary" type="button" class="btn btn-primary" onclick="addTextClone(this)">+</button>
      </div>

<!-- Buttons Loop -->
      <!-- Loop through each button -->
      <div class="userForm">
        <!-- If button is a string, it's just one -->

        <%var isObjectOrString ;%>
        <%if(typeof chat.student.decision[chatText] === 'string'){%>
            <%isObjectOrString = 1%>
        <%} else {%>
            <%isObjectOrString = chat.student.decision[chatText].length%>
        <%}%>


        <%for(var button = 0; button < isObjectOrString; button++){%>
            <!-- Decision is a string -->
            <div class="userForm">

                <%if (typeof chat.student.decision[chatText] === 'string'){%>
                    <div class="student">
                        <input class="form-control" type="text" value="<%=chat.student.decision[chatText]%>" name="bot[student][decision][<%=chatText%>]">


                    </div>



                <%if(typeof chat.student.answer[chatText][button] === 'string'){%>

                    <input class="form-control" type="text" value="<%=chat.student.answer[chatText][button]%>" name="bot[student][answer][<%=chatText%>][<%=button%>]">

                    <%} else {%>
                        <%for (sentence in chat.student.answer[chatText][button]){ %>
                            <input class="form-control" type="text" value="<%= chat.student.answer[chatText][button][sentence]%>" name="bot[student][answer][<%=chatText%>]">
                        <%}%>
                        <button class="btn btn-primary" type="button" onclick="addTextClone(this)">+</button>


                <%}%>

                <!-- Decision is an object -->
            <%} else {%>
                <div class="student">
                    <input class="form-control" type="text" value="<%=chat.student.decision[chatText][button]%>" name="bot[student][decision][<%=chatText%>]">
                </div>

                    <%if(typeof chat.student.answer[chatText][button] === 'string'){%>
                        <input class="form-control" type="text" value="<%=chat.student.answer[chatText][button]%>" name="bot[student][answer][<%=chatText%>][<%=button%>]">
                        <button class="btn btn-primary" type="button" class="btn btn-primary" onclick="addTextClone(this)">+</button>


                        <%} else {%>

                            <%for (sentence in chat.student.answer[chatText][button]){ %>
                                <input class="form-control" type="text" value="<%=chat.student.answer[chatText][button][sentence]%>" name="bot[student][answer][<%=chatText%>][<%=button%>]">
                            <%}%>

                                <button class="btn btn-primary userForm" type="button" onclick="addTextClone(this)">+</button>
                    <%}%>

            <%}%>
            </div>
        <%}%>  <!-- End of Button -->

      </div>
    </div>
    <%}%> <!-- End of chatText -->
    <button type="button" class="btn btn-info" onclick="addBotForm()">Bot Form +</button>
    <button type="submit">Submit</button>
</form>


<%include partials/footer%>
