<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/new">New bot</a>
    <a href="/index/chat">Chat</a>
    <h5>Display Available Interactions</h5>
    <%chat.forEach(function(chat, n){%>
      <a style="display: block" href="/index/<%=chat._id%>">Chat <%=n%></a>
      <%});%>
  </body>
</html>
