<%include partials/header%>

<h1>Hello world</h1>
<p>Chat</p>
<%=chat%> 
<br>
<br>
<h1>Conversation</h1>

<!-- Welcome to Loop Hell -->
<!-- Given my lack of knowledge on key value pairs, I did everything manually lol -->
<!-- But as one very wise(???) coder once told me: "haha, whatever works man" -incognito -->

<div class="container" id="scroller">
    <%for (let chatNum = 0; chatNum < chat.length; chatNum++){%>
        <%for (var botText = 0; botText < chat[chatNum].talk.length; botText++){%>
            <div style="display: none" class="interaction">        
            <!-- Loops through each bot chat array -->
            <div class="bot">
            <%var botIsObjectOrString = typeof chat[chatNum].talk[0] === 'object' ? chat[chatNum].talk[botText] : chat[chatNum].talk%>

            <%console.log("Object or String?", botIsObjectOrString)%>
            <%for (var botTextNum = 0; botTextNum < botIsObjectOrString.length; botTextNum++){ %>

                <%var botWasObjectOrString = typeof botIsObjectOrString[0] === 'object' ? chat[chatNum].talk[botText][botTextNum] : chat[chatNum].talk %>
    <!--Bot--> <p style="display: none" class="botText"><%=botWasObjectOrString%></p> <!--At array 0-->
                <h5>Hard coded <%= chat[chatNum].talk[0].length%></h5>
            <%}%>
            </div>
            <!-- Student Choices-->
            <!-- Should go in only one time to get corresponding text -->
            <div class="buttons">
            <%for (var studentResponse = 0; studentResponse < 1; studentResponse++){%>
            <%var isObjectOrString = chat[chatNum].student.decision[chatNum] === 'object' ? chat[chatNum].student.decision[chatNum].length : chat[chatNum].student.decision.length %>
            
                <%for(var botResponse = 0; botResponse < isObjectOrString; botResponse++ ){%>
                <!-- Student Choice Buttons Loop-->
                <%var buttonWasObjectOrString = typeof chat[chatNum].student.decision[botText] === 'object' ? typeof chat[0].student.decision[botText][] %>
                <div class="choice">            
    <!--Buttons-->  <button onclick="displayAnswers(this)" class="btn btn-success" style="display: inline; margin: 5px"><%=chat[chatNum].student.decision[botText][botResponse]%></p></button>
                </div>
asdfasf
                    <!--Bot Answers to Buttons Loop  -->
                    <%for(var studentAnswer = 0; studentAnswer < 1; studentAnswer++){ %>
                        <div class="answer">
                        <%for(var chatResponse = 0; chatResponse <= chat[chatNum].student.answer[botText][botResponse].length-1; chatResponse++){%>
    <!--Answers-->              <p class="botTextAnswer botText" style="display: none"><%=chat[chatNum].student.answer[botText][botResponse][chatResponse]%></p>
                    <%}%>
            </div>
                    <%}%>
                <%}%>
            <%}%>
            </div>
        </div>
        <%}%>
    <%}%>
</div>




<%include partials/footer%>