<%include partials/header%>

<div class="container chatBox" id="scroller">
    <%for (let chatNum = 0; chatNum < chat.length; chatNum++){%>
        <%for (var botText = 0; botText < chat[chatNum].talk.length; botText++){%>
        <div style="display: none" class="interaction">        
            <!-- Loops through each bot chat array -->
            <div class="bot">
                <%if(typeof chat[chatNum].talk[botText] === 'string'){%>
                    <!--Bot--> <p style="display: none" class="botText"><%=chat[chatNum].talk[botText]%></p> <!--At array 0-->
                <%} else {%>
                    <%for (var botTextNum = 0; botTextNum < chat[chatNum].talk[botText].length; botTextNum++){ %>
        <!--Bot--> <p style="display: none" class="botText"><%=chat[chatNum].talk[botText][botTextNum]%></p> <!--At array 0-->
                    <%}%>
                <%}%>
            </div>

            <!-- Student Choices-->
            
            <div class="buttons">
            <%for (var studentResponse = 0; studentResponse < 1; studentResponse++){%>
                <!-- If it's a string, print one element -->
                <!-- If it's an object, do the loop -->

                
            <%for(var botResponse = 0; botResponse < buttonIsStringOrObject; botResponse++ ){%>
                
                    <div class="choice">            
                        <%if (typeof chat[chatNum].student.decision[botText] === 'string'){%>
                            <!--Buttons-->  <button onclick="displayAnswers(this)" class="btn btn-success" style="display: inline; margin: 5px"><%=chat[chatNum].student.decision[botText]%></p></button>
                        <%} else {%>
        <!--Buttons-->  <button onclick="displayAnswers(this)" class="btn btn-success" style="display: inline; margin: 5px"><%=chat[chatNum].student.decision[botText][botResponse]%></p></button>
                        <%}%>
                    </div>

                        <!--Bot Answers  -->
                        <%for(var studentAnswer = 0; studentAnswer < 1; studentAnswer++){ %>
                            <div class="answer">
                                <!-- If string, print one element, else, loop and print all -->
                                <%if(typeof chat[chatNum].student.answer[botText][botResponse] === 'string'){%>
                                    <!--Answers if it's a string-->              
                                    <p class="botTextAnswer botText" style="display: none"><%=chat[chatNum].student.answer[botText][botResponse]%></p>
                                <%} else {%>
                                    <%for(var chatResponse = 0; chatResponse < chat[chatNum].student.answer[botText][botResponse].length; chatResponse++){%>
                                        <!--Answers if more than one string-->      
                                        <p class="botTextAnswer botText" style="display: none"><%=chat[chatNum].student.answer[botText][botResponse][chatResponse]%></p>
                                    <%}%>
                                <%}%>

                            
                </div>
                        <%}%>
                <%}%>
            <%}%>
            </div>
        </div>
        <%}%>
    <%}%>
</div>




<%include partials/footer%>